<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />
<%= link_to "New Order", new_order_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Download</th>
      <th>Progress</th>
    </tr>
      <th>&nbsp;</th>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.title %></td>
        <td><%= link_to "Download order", order.file_url %></td>
        <td><%#= order.progress %>
        <td><%= button_to "Delete",  order, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
